@charset "utf-8";
body,h1,button{ margin: 0; padding: 0; }
img{ display: block; width: 100%; height: auto;}
/* width, height 왜 이렇게 줬을까? */
#wrap{ width: 100vw; height: 100vh; position: relative;
    padding: 0 20px; box-sizing: border-box; }
/* 왜 100vw를 줬을까? %도 아니고? */
h1{ padding: 12px 0; }
.playground{ padding: 20px 0; }
.playground>.piece_boards{ margin-top: 24px; display: flex; justify-content: center;
    gap: 20px; }
.playground>.piece_boards>.result{ height: 80px; width: 150px; 
    background: url(../IMG/RedBowl.png) no-repeat center/contain ;
    border: 2px solid #900; }
.playground>.piece_boards>.players{ height: 80px; width: 150px; 
    background: url(../IMG/blueBowl.png) no-repeat center/contain;
    border: 2px solid #009; /**/ }
.playground>.piece_boards>.players>div{ height: 40px; box-sizing: border-box; position: relative; }
/* .playground>.piece_boards>.players>.blue{  border-bottom:1px solid #009;   } */
 .playground>.piece_boards>.players>div>span{ 
    display: inline-block; width: 70px; height: 70px; margin: 5px;
    cursor: pointer; position: absolute; left: 0; top: 0; } 

 .playground>.piece_boards>.players>.blue>span{ /*background-color: #46e;*/ 
    background: url(../IMG/bluebone1.png) no-repeat center/contain; }
 .playground>.piece_boards>.players>.red>span{ /*background-color: #c43; */ 
    background:url(../img/redbone1.png) no-repeat center/contain}

    
.ui-draggerble-dragging{ transform: scale(1.4); box-shadow: 0 5px 15px; rgba(0,0,0,0.5);
    z-index: 100 !important;}


.randombox{ position: fixed; left: 0; top: 0; width: 100%; height: 100vh;
    background:rgba(0, 0, 0, 0.3); cursor: pointer; display: flex; justify-content: center;
    align-items: center; display: none; }
.control>.info{ font-size: 24px; font-weight: bold; margin-bottom: 14px; border-radius: 10px;
    background: #eef; color: #46e; text-align: center; padding: 6px 0; }
.control>button{ display: block; margin-bottom: 20px; padding: 15px; font-size: 20px;
    font-weight: bold; border: 0 none; border-radius: 10px; background: #4caf50; color: #fff; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
width: 100%; }
.control>.resetbtn{ background: #eb6c14; }
.control>.button:active{ background: #45a049; }